<!DOCTYPE html>
<html lang="en">

<%- include ('partials/head') %>

<body class="bg-dark">
    <%- include ('partials/nav') %>

    <main class="container">

        <%- include(page) %>

    </main>

    <%- include ('partials/footer') %>

    <%- include ('partials/scripts') %>
</body>
